<%
  seller_papers = sales_info.sellers_items.map do |item| item.item_sold_paper end
  seller_infos = seller_papers.map(&:seller_info).uniq
  representative_seller_info = seller_infos.first
%>
<table class="attr_table">
  <tr>
    <th>주문번호</th>
    <td><%= link_to sales_info.enc_id %></td>
    <th>주문상태</th>
    <td>
      <span class="status_tag"><%= sales_info.order_status %></span>
    </td>
    <th>주문일시</th>
    <td><%= sales_info.ordered_at&.strftime('%Y-%m-%d %H:%M:%S') %></td>
  </tr>
  <tr>
    <th>총 주문 금액</th>
    <td>
      <% amount = sales_info.cart.price_sum %>
      <p class="mb-0"><%= number_to_currency(krw_exchange(amount, sales_info.country.iso_code), locale: :ko) %> </p>
      <p class="mb-0 text-secondary"><%= currency_format amount %></p>
    </td>
    <th>총 셀러 수수료</th>
    <td>
      <% amount = seller_papers.sum(&:adjusted_profit) %>
      <p class="mb-0"><%= number_to_currency(krw_exchange(amount, sales_info.country.iso_code), locale: :ko) %> </p>
      <p class="mb-0 text-secondary"><%= currency_format amount %></p>
    </td>
      <th>셀러명</th>
    <td><%= "#{representative_seller_info.name}#{('외 ' + (seller_infos.count-1) +'명') if seller_infos.count>1}" %></td>
  </tr>
</table>
